<% if @conversions.present? %>
    <div class="py-5">
      <h1>My conversions</h1>
      <div class="row">
        <% @conversions.each do |conversion| %>
          <div class="card px-0 m-2" style="width: 300px;">
              <div class="card-body">
                <h5 class="card-text"><%= conversion.amount %></h5>
                <h5 class="card-text"><%= conversion.from_currency %></h5>
                <p>TO</p>
                <p class="card-address"><%= conversion.to_currency %></p>
                <p class="card-date"><%= l(conversion.date, format: :long) %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>