.small-3 {
  text-align: center;
}
.container-conv {
  width: 500px;
  height: 300px;
  background-color: #F26659;
  color: white;
}
textarea.form-control {
  height: 90px;
}
.first-part {
  display: flex;
  justify-content: center;
  width: 300px;
}
.second-part {
 display: flex;
 justify-content: center;
}
.form-control {
  width: 100px;
  background-color: #F26659;
  border-radius: 5px;
  text-align: center;
  color: white;
  border: 0px #F26659;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  input[type=number] {
    -moz-appearance: textfield;
  }
}
  
}
.result {
  background-color:#F26659;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  text-align: center;
  color: white;
  font-size: 50px;
}
.converter {
  background-color: #F26659;
  margin-top: 100px;
  border-radius: 25px;
}
.amount {
  font-size: 50px;
  width: 300px;
}
.button-mine {
  background-color: #F26659;
  font-size: 50px;
  color: white;
}
.button-mine:hover {
  color: #0069d9;
}
.currency {
  font-weight: bold;
  font-size: 20px;
}