.navbar-lewagon {
  justify-content: space-between;
  background: #F26659;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.btn-convrt {
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #F1F3F6;
  box-shadow: 1px 1px 10px #F1F3F6;
  padding: 3px 3px;
  background-color: #F26659;
}
.btn-convrt:hover {
  border: 3px solid #F1F3F6;
  background-color: #343A40;
}